.media-footer {
  background-color: #242424;
  font-family: "Aller";
  padding-bottom: 40px;
}

.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.social-media h5 {
  font-size: 14px;
  color: #7d7d7d;
  margin-bottom: 20px;
}

.social-media p {
  font-size: 12px;
  text-align: justify;
  color: #a4a4a4;
}

.social-media p span:first-child {
  color: #57c5a0;
}

.social-media p span:nth-child(2) {
  margin-left: 5px;
}

.social-media h6 {
  font-size: 12px;
  color: #57c5a0;
}

.widget {
  margin-right: 50px;
}

.flickr-widget img {
  width: calc(95% / 3);
  height: 60px;
  padding-bottom: 5px;
}

.social-icons i {
  color: #7d7d7d;
  background-color: #2e2e2e;
  width: 36px;
  height: 36px;
  padding: 10px 12px;
}

.social-icons i:hover {
  color: #57c5a0;
}

.social {
  display: flex;
  margin-left: 18%;
  margin-right: 18%;
  justify-content: space-between;
}

.newsletter {
  display: flex;
}

.newsletter input {
  background-color: #2e2e2e;
  border: 0;
}

.arrow {
  width: 36px;
  height: 36px;
  background-color: #7d7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  width: 9px;
  height: 12px;
}