#menutoggle {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: 55px;
  border: solid 1px #eeeeee;
  padding: 20px 9px;
  height: 60px;
}

#menutoggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menutoggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;
  background: #6b6b6b;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menutoggle span:first-child {
  transform-origin: 0% 0%;
}

#menutoggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menutoggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menutoggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menutoggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 50px;
  padding-top: 100px;
  background: #e6e6e6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menutoggle input:checked ~ ul {
  transform: none;
}

/*# sourceMappingURL=hamburgerMenu.css.map */
