.header-logo {
  background-color: #242424;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  align-items: center;
}

.logo-link {
  color: #438f75;
  margin: 0;
  font-family: "Stheitisc";
  font-size: 30px;
}

.header-buttons {
  height: 50px;
}

.header-search,
.header-login {
  border: none;
  cursor: pointer;
  color: #5f5e5e;
  font-size: 14px;
  font-family: "Myriad";
  background-color: inherit;
  color: #797777;
}

.header-search {
  width: 170px;
  text-align: left;
  padding-left: 20px;
  height: 50px;
  border-left: solid 1px rgb(56, 56, 56);
}

.search-image {
  height: 15px;
  margin-right: 10px;
  margin-bottom: -3px;
  float: right;
}

.search-list {
  position: absolute;
  display: none;
  width: 174px;
  background-color: white;
  z-index: 10;
}

.items {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-family: "Myriad";
  color: #7e7e7e;
  background-color: #4c4c4c;
}

.items li {
  padding-top: 15px;
  font-size: 14px;
  border-bottom: solid 1px rgb(102, 100, 100);
  padding-left: 20px;
  padding-bottom: 5px;
}

.header-login {
  height: 100%;
  width: 150px;
  border-left: solid 1px rgb(56, 56, 56);
  border-right: solid 1px rgb(56, 56, 56);
}

.menu {
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.menu-list a:hover {
  color: #57c5a0;
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 38%;
  margin-left: 15%;
  align-items: center;
}

.menu-list a {
  color: #242424;
  font-family: "Aller-Light";
  font-size: 17px;
  padding-left: 3px;
}

.divider {
  height: 60px;
  background-color: rgb(238, 238, 238);
  width: 1px;
}

.menu-info {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 15%;
}

.info-container {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.favorite-number,
.cart-number {
  font-family: "Myriad";
  color: #f4fbf9;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-number {
  background-color: #adadad;
}

.cart-number {
  background-color: #57c5a0;
}

.header_mobile a {
  color: black;
}

.search-mobile {
  height: 60px;
}

.search-list-mobile {
  display: none;
  width: 110px;
  position: absolute;
  margin-top: 114px;
  z-index: 10;
}

.show {
  display: block;
}


