@font-face {
  font-family: "Stheitisc";
  src: url("../assets/STHeitiSC-Medium-02.ttf");
  margin: 0;
}
@font-face {
  font-family: "Aller-Light";
  src: url("../assets/Aller_Lt.ttf");
  margin: 0;
}
@font-face {
  font-family: "Aller";
  src: url("../assets/Aller_Rg.ttf");
  margin: 0;
}
@font-face {
  font-family: "Myriad";
  src: url("../assets/Myriad Pro Regular.ttf");
  margin: 0;
}
body,
header {
  margin: 0;
}

a {
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 12px;
  flex-direction: row;
}

.footer li {
  padding-left: 5px;
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 0;
}

.footer ul a {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  background-color: #2e2e2e;
  display: flex;
  padding: 20px 15%;
  justify-content: space-between;
}

.favorite-image,
.cart-image {
  height: 20px;
  margin-right: 10px;
  color: #6e6e6e;
}

.d-block {
  height: 520px;
}

.carousel-indicators {
  position: unset !important;
  background-color: #000000 !important;
  width: 60% !important;
  margin-right: 20% !important;
  margin-left: 20% !important;
  height: 10px !important;
  margin-top: 10px !important;
}

.carousel-indicators li {
  background-color: #000000 !important;
  width: calc(95.5% / 3) !important;
  margin-top: 1px !important;
  height: 8px !important;
}

.carousel-indicators .active {
  background-color: #57c5a0 !important;
}

.divider-container {
  display: flex;
  margin-top: -25px;
  justify-content: space-between;
  width: 20%;
  margin-left: 40%;
}

.slide-divider {
  background-color: #2e2e2e;
  height: 8px;
  width: 2px;
  z-index: 10;
}

.carousel-caption {
  font-family: "Myriad";
  color: black !important;
  margin-left: 40%;
  text-align: start !important;
  margin-bottom: 50px;
}

.price-container {
  background-color: #57c5a0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.price {
  padding-top: 30px;
  font-size: 15px;
}

.title {
  font-size: 40px;
  width: 260px;
}

.subtitle {
  font-size: 20px;
  width: 350px;
}

.icon-container {
  padding-top: 12px;
  text-align: center;
  background-color: white;
  width: 40px;
  height: 40px;
  color: #6e6e6e;
}

.icon-container:hover {
  color: #57c5a0;
}

.carousel-info {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 20px;
}

.background-container {
  background-color: #2e2e2e;
  background-size: 100%;
  margin-top: -10px;
}

.indicators-container {
  padding-top: 10px;
}

.slide-info {
  text-align: center;
  width: calc(100% / 3);
  color: #979797;
  margin-top: 10px;
  font-family: "Aller-Light";
}

.slide-info p {
  margin: 0;
}

.slide-info p:first-child {
  font-size: 20px;
}

.slide-info p:nth-child(2) {
  font-size: 12px;
}

.product-container {
  width: calc(96% / 3);
  height: 285px;
  background-size: cover;
  margin-bottom: 40px;
}

.product-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-info {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-top: solid #cccccc 1px;
}

.top-info {
  color: #ffffff;
  width: 70px;
  height: 70px;
  text-align: center;
  margin-right: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-info p:first-child {
  background-color: #57c5a0;
  color: #ffffff;
  width: 70px;
  height: 70px;
  margin-top: -25px;
  font-size: 13px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-info p:nth-child(2) {
  font-size: 18px;
  margin-left: 10px;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sale-section {
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15% 20px 15%;
}

.sale-container {
  display: flex;
}

.sale img {
  width: 100%;
  height: 100%;
}

.sale p {
  position: absolute;
  color: white;
  background-color: #242424;
  font-family: "Aller-Light";
  padding: 10px;
  font-size: 25px;
  opacity: 0.8;
}

.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(95% / 3);
}

.line {
  height: 1px;
  margin: 50px 15% 20px 15%;
}

.grey {
  background-color: #bcb5a7;
}

.black {
  background-color: #1c1c1c;
}

.news {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.news-date {
  background-color: #57c5a0;
  font-size: 10px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 10px;
  text-align: center;
  margin: 0;
}

.text h4 {
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}

.text p {
  margin: 0;
  font-size: 12px;
}

.text {
  font-size: 12px;
  margin-left: 10px;
}

.icons-hover {
  display: flex;
  margin-left: 10px;
  display: none;
}

.comment {
  display: flex;
}

.modal-image {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.modal-image img {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-image p {
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  margin-left: 30px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #7d7d7d;
  font-size: 10px;
  padding-left: 10px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7d7d7d;
  font-size: 10px;
  padding-left: 10px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #7d7d7d;
  font-size: 10px;
  padding-left: 10px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #7d7d7d;
  font-size: 10px;
  padding-left: 10px;
}

.modal-login {
  position: fixed;
  z-index: 15;
  font-family: "Aller";
  background-color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  padding: 60px 15%;
  overflow: scroll;
  flex-wrap: wrap;
}

.modal-login h3 {
  font-size: 23px;
  margin-bottom: 30px;
}

.container-forms {
  flex-wrap: wrap;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.modal-login input,
p {
  border: 0;
  font-size: 15px;
}

.modal-login input {
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.modal-login button {
  border: 0;
  background-color: #242424;
  color: #b1aeae;
  padding: 10px;
}

.login,
.register {
  border: solid 1px #bcb5a7;
  padding: 40px;
  margin-bottom: 20px;
}

.closeLogin {
  font-size: 30px;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
