@media (max-width: 960px) {
  .header-logo {
    padding-left: 10%;
    padding-right: 10%;
  }

  .menu-list {
    margin-left: 10%;
    width: 100%;
  }

  .menu-list span:last-child {
    display: none;
  }

  .footer {
    padding: 20px 10%;
  }

  .menu-info {
    margin-right: 10%;
  }

  .product-section {
    margin-left: 10%;
    margin-right: 10%;
  }

  .sale-section {
    padding: 20px 10% 20px 10%;
  }

  .title-container {
    margin-right: 10%;
    margin-left: 10%;
  }

  .line {
    margin: 50px 10% 20px 10%;
  }

  .grid-container {
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 2fr;
  }

  .modal-login {
    padding: 60px 0 0 0;
  }

  .grid-change {
    margin-right: 10%;
    margin-left: 10%;
  }

  .product-container {
    height: 220px;
  }

  .social-media {
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr;
  }

  .small-board:first-child,
.widget:nth-child(2) {
    display: none;
  }

  .social {
    margin-left: 10%;
    margin-right: 10%;
  }

  .modal-image img {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .menu-info {
    margin-right: 0;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
  }

  .logo-link {
    font-size: 20px;
  }

  .header-search {
    display: none;
  }

  .header-login {
    width: 100%;
  }

  .search-image {
    margin: 0;
    padding: 0px 20px;
  }

  .info-container {
    width: calc(100% / 2);
    height: 60px;
    border: solid 1px #eeeeee;
  }

  .info-container:first-child {
    border-right: none;
  }

  .carousel-caption {
    margin-left: 0;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 14px;
    width: 100%;
  }

  .sale-section {
    display: none;
  }

  .view-icons {
    display: none;
  }

  .product-section {
    flex-direction: column;
  }

  .small-board {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product-container {
    height: 250px;
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .social-media {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .social {
    flex-direction: column;
  }

  .social-icons {
    margin-top: 20px;
  }

  .footer {
    flex-direction: column;
  }

  .footer ul {
    font-size: 8px;
  }

  .modal-image img {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .modal-image p {
    margin-left: 0;
  }

  .container-forms {
    justify-content: center;
  }
}

/*# sourceMappingURL=mobile.css.map */
