.background-section {
  background-color: #ebe7df;
  background-size: 100%;
  padding-top: 50px;
}

.grid-change {
  display: flex;
  margin-right: 15%;
  margin-left: 15%;
  justify-content: space-between;
}

.grid-title {
  font-size: 30px;
}

.view-icons {
  display: flex;
  color: #bcb5a7;
  align-items: center;
}

.view-icons i {
  border: solid 1px #bcb5a7;
  padding: 4px;
  margin-left: 10px;
}

.view-title {
  margin: 0;
  font-size: 15px;
}

.title-container {
  display: flex;
  margin-right: 15%;
  margin-left: 15%;
  justify-content: space-between;
  font-family: "Aller-Light";
  padding-bottom: 20px;
  padding-top: 20px;
}

.title-container h1 {
  font-size: 25px;
}

.title-container button {
  border: solid 1px #c5bfb2;
  width: 100px;
  background: inherit;
  font-size: 15px;
  color: #c5bfb2;
}

.title-container button:hover {
  color: #57c5a0;
}

.product-section {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Aller";
  padding-bottom: 20px;
}

.small-board {
  background-color: rgb(223, 219, 212);
  margin-right: 20px;
}

.small-board h3,
.big-board h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.small-board,
.big-board {
  padding: 30px 20px 0px 20px;
  background-color: rgb(223, 219, 212);
}

.small-board p {
  font-size: 12px;
}

.big-board h3 {
  margin-bottom: 10px;
}
